/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Boilerplate           */
/* 3. Layout                */
/* 4. Typography            */
/* 5. Utility               */
/* 6. Queries               */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');


/* ------------------------ */
/* 1.PROPERTIES             */
/* ------------------------ */

:root {
    --font-size: 24px;
    --font-family: 'Zen Kaku Gothic Antique', sans-serif;
    
    --bg-primary:   hsl(113,  25%,  90%);
    --bg-secondary: hsl(113   60%   82%);
    --surface:      hsl(113,  20%,  92%);
    --shadow:       hsla(113, 10%,  20%,  0.15);
    --html:         hsl(18,   100%, 90%);
    --css:          hsl(198,  100%, 75%);
    --js:           hsl(45,   100%, 85%);
    --text1:        hsl(113,  100%, 10%);
    --text2:        hsl(113,  30%,  30%);
    --link:         hsl(271,  68%,  32%);
}

[data-theme='dark'] {
    --bg-primary:   hsl(113,  12%,  12%);
    --bg-secondary: hsl(113   70%   14%);
    --surface:      hsl(113,  6%,   22%);
    --shadow:       hsla(113, 42%,  17%,  0.75);
    --html:         hsl(14,   100%, 32%);
    --css:          hsl(204,  100%, 30%);
    --js:           hsl(39,   100%, 30%);
    --text1:        hsl(113,  15%,  85%);
    --text2:        hsl(113,  5%,   60%);
    --link:         hsl(271,  52%,  76%);
}


/* ------------------------ */
/* 2.BOILERPLATE            */
/* ------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
    display: block;
}

input,
button {
    font: inherit;
}

a {
    text-decoration: none;
}


/* ------------------------ */
/* 3.LAYOUT                 */
/* ------------------------ */

body {
    background-color: var(--bg-primary);
}

.wrapper {
    min-width: 375px;
    min-height: 100vh;
    overflow-x: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    width: 15.5rem;
}

.index {
    display: grid;
    grid-auto-flow: row;
    row-gap: 2rem;
}


/* ------------------------ */
/* 4.TYPOGRAPHY             */
/* ------------------------ */

html {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--text1);
}

.hero__desc-1,
.hero__desc-2,
.techs__subtitle,
.cta-projects__note,
.project-card__excerpt,
.projects__subtitle {
    font-size: .85rem;
    line-height: 130%;
}

.locale-switcher__switch::before,
.locale-switcher__switch::after,
.locale-switcher,
.skill__body,
.techs__subtitle,
.techs__card,
.footer__address,
.project-card__excerpt {
    color: var(--text2)
}

.skill__body > ul {
    list-style: '. ';
    text-align: left;
    font-size: .85rem;
    line-height: 140%;
}

.hero__title,
.projects__title {
    font-size: 1.5rem;
}

.skill__body__title,
.techs__body__title {
    font-size: 1.15rem;
}

.skills__title,
.techs__title,
.cta-projects__title {
    font-size: 1.25rem;
}

.cta-projects__link-projects {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--link);
    border-bottom: 2px dashed var(--text1);
}

.link,
.cta-projects__link-github,
.project-card__link-github {
    color: var(--link);
}

.cta-projects__link-github {
    font-size: 3rem;
}

.project-card__link-github {
    font-size: 1.5rem;
}

.cta-projects__note,
.projects__subtitle {
    font-style: italic;
}

.cta-projects__note,
.footer__address,
.projects__subtitle {
    text-align: center;
}

.footer__address,
.project-card__links {
    font-style: normal;
    font-size: .75rem;
    line-height: 145%;
}

.hero {
    text-align: right;
}


/* ------------------------ */
/* 5.UTILITY                */
/* ------------------------ */

@mixin absolute-block {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.shadow {    
    box-shadow: .25rem .25rem .5rem var(--shadow);
}

.flex {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.link {
    border-bottom: 2px dashed var(--text1) !important;
}

.link:hover,
.link:focus {
    border-bottom: 2px solid var(--text1) !important;
}

.cta-projects__link-github,
.project-card__link-github {
    display: flex;
    border-radius: 50%;
    outline: 2px dashed var(--text1);
    outline-offset: 5px;
}

.cta-projects__link-github:hover,
.project-card__link-github:hover,
.cta-projects__link-github:focus,
.project-card__link-github:focus {
    outline-style: solid;
}

.bg-gradient {
    position: relative;
    z-index: 1;
}

.bg-gradient::before {
    @include absolute-block;
    top: 0;
    left: 0;
    z-index: 2;
    filter: blur(.25rem);
    background: repeating-linear-gradient(135deg, 
                    hsla(0, 0%, 0%, 0), 
                    hsla(0, 0%, 0%, 0)  1rem,
                    var(--shadow)         1rem, 
                    var(--shadow)         2rem);
}

.bg-gradient::after {
    @include absolute-block;
    top: -.25rem;
    left: -.25rem;
    background: repeating-linear-gradient(135deg, 
                    hsla(0, 0%, 0%, 0), 
                    hsla(0, 0%, 0%, 0)  1rem,
                    var(--surface)        1rem, 
                    var(--surface)        2rem);
    z-index: 3;
}

.bg-gradient > span {
    position: relative;
    z-index: 4;
}

.bg-gradient--html {
    background-color: var(--html);
}

.bg-gradient--css {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: var(--css);
    display: flex;
    align-items: center;

    &,
    &::before,
    &::after {
        aspect-ratio: 1;
        border-radius: 50%;
    }
}

.bg-gradient--js {
    margin-left: auto !important;
    background-color: var(--js);
}

@mixin rotated-border--bottom {
    position: relative;
    overflow: hidden;

    &::after {
        @include absolute-block;
        z-index: -1;
        border-bottom: 0.5rem dashed var(--bg-secondary);
        transform: rotate(45deg);
    }
}

@mixin rotated-border--and-top {
    &::after {
        border-top: 0.5rem dashed var(--bg-secondary);
    }
}

@mixin techs-vertical-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    width: 16rem;
    height: 100%;
    border-left: .5rem dashed var(--bg-secondary);
    padding-left: .5rem;
}


/* ------------------------ */
/* 6.QUERIES                */
/* ------------------------ */

// Visual guides
@media (min-width: 575px) {
    .hero {
        & > .container {
            border-right: .5rem dashed var(--bg-secondary);
            padding-right: .5rem;
        }

        @include rotated-border--bottom;
    }

    .techs-vertical-border {
        @include techs-vertical-border;
    }

    .cta-projects {
        @include rotated-border--bottom;
        @include rotated-border--and-top;
    }

    .footer--at-index {
        border-right: .5rem dashed var(--bg-secondary);
        padding-right: .5rem !important;

        & > .footer__address {
            text-align: right;
        }
    }
}

// Typography
@media (min-width: 1024px) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 32px;
    }
}