/* ------------------------ */
/* LOCALE SWITCHER          */
/* ------------------------ */

.locale-switcher {
    display: flex;
    column-gap: .2rem;
}

.locale-switcher__label {
    font-size: .8rem;
}

.locale-switcher__switch {
    background: transparent;
    border: none;
    margin: 0;
    cursor: pointer;

    inline-size: 2.5rem;

    display: flex;
    gap: .25rem;
}

.locale-switcher__switch::before,
.locale-switcher__switch::after {
    font-size: .8rem;
}

.locale-switcher__switch::before {
    content: "En";
    font-weight: 700;
}

.locale-switcher__switch::after {
    content: "Ru";
}

.locale-switcher__switch.locale-ru {
    &::before {
        font-weight: 400;
    }

    &::after {
        font-weight: 700;
    }
}