/* ------------------------ */
/* PROJECTS                 */
/* ------------------------ */

.projects {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.projects__cards {
    position: relative;
    gap: 3rem;
}

.projects__cards,
.projects__subtitle {
    margin-top: 2rem;
}

.project-card {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'header'
                         'aside'
                         'section';
    grid-row-gap: .5rem;
    grid-column-gap: 1.5rem;
}

.project-card__aside {
    padding: .5rem;
    background-color: var(--surface3-light);
    aspect-ratio: 1;
    grid-area: aside;

    display: grid;
    place-items: center;
}

.project-card__section {
    grid-area: section;
    gap: 1rem;
}

.project-card__title {
    grid-area: header;
    border-bottom: .5rem dashed var(--header-light);
    padding-bottom: .5rem;
}

.project-card__links {
    display: flex;
    gap: 1rem;
    margin: 0;
    justify-content: center;

    & > li {
        display: flex;
        align-items: center;
    }
}

.project-card__link-github {
    display: flex;
    border-radius: 50%;
    outline: 2px dashed var(--text1-light);
    outline-offset: 5px;
}


/* ------------------------ */
/* QUERIES                  */
/* ------------------------ */

@media (min-width: 1024px) {
    .projects > .projects__cards.container,
    .projects > .projects__subtitle.container {
        width: min(1024px, max(1rem, 65vw));
        max-width: none;
    }

    .project-card__aside {
        width: 25vw;
        max-width: 10rem;
    }

    .project-card {
        width: fit-content;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'aside header'
                             'aside section';
    }

    .projects__cards::after {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: calc( min(25vw + 1.5rem, 10rem + 1.5rem) );
        border-right: .5rem dashed var(--header-light);
    }

    .project-card__links {
        justify-content: flex-start;
    }
}

// @media (min-width: 1024px) {

// }