/* ------------------------ */
/* PROJECTS                 */
/* ------------------------ */

.projects {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.projects__cards {
    border-left: .5rem dashed var(--header-light);
    padding-left: .5rem;
    gap: 3rem;
}

.projects__cards,
.projects__subtitle {
    margin-top: 2rem;
}

.project-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-card__title {
    border-bottom: .5rem dashed var(--header-light);
    padding-bottom: .5rem;
}

.project-card__links {
    display: flex;
    gap: 1rem;
    margin: 0;
}


/* ------------------------ */
/* QUERIES                  */
/* ------------------------ */

@media (min-width: 768px) {
    .projects > .projects__cards.container,
    .projects > .projects__subtitle.container {
        width: min(1024px, max(1rem, 65vw));
        max-width: none;
    }
}